{{define "main"}}
<!-- Gallery Single Post Template -->

<section class="work-content">
    <h1>{{ .Title }}</h1>
    <div class="owl-carousel owl-theme">
        {{ $images := .Resources.ByType "image" }}
        {{ range $images }}
        {{ $resized := .Resize $.Params.maxWidth  }}
        <div>
            <img src="{{ $resized.RelPermalink }}" alt="{{ .Name }}" />
        </div>
        {{ end }}
    </div>
    <div class="content">
        {{ .Content}}
    </div>
</section>

{{end}}