<!DOCTYPE html>
<html lang="en">

<head>
    {{ block "head" . }}
    {{ partial "head" . }}
    {{end}}
</head>

<body>
    <main class="container">
    <!-- Navigaton Menu-->
    {{ block "header" . }}
    {{ partial "header" . }}
    {{ end }}
    <!-- Main Content-->
    <section class="content-wrapper">
        {{ block "main" . }}
        {{ end }}
    </section>
    <!-- Footer-->
    {{ block "footer" . }}
    {{ partial "footer" . }}
    {{end}}
</main>
</body>

</html>