{{ define "main"}}
<!-- This is a list page homepage-->

<nav class="list-nav">
    {{ range .Pages}}
    <ul>
        <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
    </ul>
    {{ end }}
</nav>

{{ .Content}}


{{end}}