body {
    /** font family **/
    font-family: "Cardo", serif;

    /** aesthetics **/
    background-color: #cac4ce;
    color: #e94f37;

    /** display **/
    margin: 0%;
    padding: 0%;
    min-height: 100vh;

    .container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0% auto 0%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        " . header . "
        " . contentwrapper . "
        " . footer . ";
    }

    /** display grid **/



    /** header **/

    .header-page {
        font-size: 5rem;
        grid-area: header;
        align-self: stretch;
        position: sticky;
        position: -webkit-sticky; /* Safari */
        top: 3%;
        grid-template-columns: auto;
        grid-template-rows: 1fr;
        grid-template-areas: "square circle";
        justify-self: center;
        align-items: center;

        a {
            color: #8d86c9;
            text-decoration: none;

            .fa-square {
                grid-area: square;
                justify-self: start;
            }

            .fa-circle {
                grid-area: circle;
                justify-self: end;
            }
        }
    }

    /** footer **/

    .footer-page {
        padding: 0%;
        color: #393e41;
        font-size: 2rem;
        bottom: 2vh;
        align-self: center;
        position: sticky;
        display: grid;
        grid-area: footer;
        grid-template-columns: 5% auto 5%;
        grid-template-rows: 2fr;
        grid-template-areas:
            " . footer-content . "
            " . footer-icons . ";

        .footer-content {
            grid-area: footer-content;
            justify-self: center;
            align-self: center;
            color: #393e41;
            

            a {
                color: #393e41;
                text-decoration: none;
            }
        }

        /* favicons for social media */

        .footer-icons {
            color: #393e41;
            grid-area: footer-icons;
            align-self: center;
            justify-self: center;
            display: grid;
            margin-top: 1%;
            grid-template-columns: auto 10% auto;
            grid-template-rows: 1fr;
            grid-template-areas: "igicon . email";

            .fa-instagram {
                font-size: 3rem;
                grid-area: igicon;
                color: #393e41;
            }

            .fa-envelope {
                font-size: 3rem;
                grid-area: email;
                color: #393e41;
            }
        }
    }


    /** content **/

    .content-wrapper {
        grid-area: contentwrapper;
        padding: 0%;
        margin: 0%;
        max-width: 100vw;
        min-height: 100vh;
  

        /** homepage **/

        .navbody {
            display: grid;
            font-size: 5rem;
            width: 100%;
            min-height: 100vh;

            /** grid layout **/
            grid-template-columns: 5% auto 5%;
            grid-template-rows: auto;
            grid-template-areas:
                " . textone ."
                " . mb1 . "
                " . texttwo ."
                " . mb2 . "
                " . textthree . "
                " . mb3 . "
                " . textfour . "
                " . mb4 . "
                " . textfive . "
                " . mb5 ."
                " . textsix . "
                " . mb6 . "
                " . textseven ."
                " . . . ";

            /** text grid **/

            .text-one {
                grid-area: textone;
                text-align: right;
                align-content: center;
            }

            .text-two {
                grid-area: texttwo;
                text-align: left;
                align-content: center;
            }

            .text-three {
                grid-area: textthree;
                text-align: right;
            }

            .text-four {
                grid-area: textfour;
            }

            .text-five {
                grid-area: textfive;
                text-align: right;
            }

            .text-six {
                grid-area: textsix;
            }

            .text-seven {
                grid-area: textseven;
                text-align: right;
                align-self: start;
            }

            /** border grid **/

            .midborder1 {
                grid-area: mb1;
                width: 25%;
                border-bottom: 0.1rem solid black;
                justify-self: center;
                align-self: center;
            }
            .midborder2 {
                grid-area: mb2;
                width: 25%;
                border-bottom: 0.1rem solid black;
                justify-self: center;
                align-self: center;
            }
            .midborder3 {
                grid-area: mb3;
                width: 25%;
                border-bottom: 0.1rem solid black;
                justify-self: center;
                align-self: center;
            }
            .midborder4 {
                grid-area: mb4;
                width: 25%;
                border-bottom: 0.1rem solid black;
                justify-self: center;
                align-self: center;
            }
            .midborder5 {
                grid-area: mb5;
                width: 25%;
                border-bottom: 0.1rem solid black;
                justify-self: center;
                align-self: center;
            }
            .midborder6 {
                grid-area: mb6;
                width: 25%;
                border-bottom: 0.1rem solid black;
                justify-self: center;
                align-self: center;
            }

            a {
                color: #393e41;
                font-style: italic;
                text-decoration: none;
            }
            a:hover {
                color: #f7ece1;
            }
        }

        /** single page content **/

        .single-content {
            padding: 5%;
            padding-top: 5vh;
            padding-bottom: 5vh;
            padding-left: 15%;
            padding-right: 15%;
            min-height: 100vh;

            p {
                font-size: 2rem;
                text-emphasis: none;
                text-align: end;
                color: #8d86c9;
                padding-top: 5%;
                padding-bottom: 5%;
            }

            h1 {
                text-align: center;
                font-family: "Montserrat", sans-serif;
                color: #f7ece1;
                font-size: 4rem;
            }

            h2 {
                color: #393e41;
                font-size: 3rem;
            }

            h4 {
                color: #393e41;
                font-size: 3rem;
            }
        }

        /** portfolio page content **/

        .work-content {
            padding-left: 5%;
            padding-right: 5%;
            max-width: 100vw;
            justify-self: center;

            p {
                text-align: right;
                color: #393e41;
                font-size: 2rem;
            }

            h1 {
                text-align: center;
                font-family: "Montserrat", sans-serif;
                color: #f7ece1;
                font-size: 5rem;
            }

            h2 {
                color: #393e41;
            }

            h3 {
                text-align: right;
                font-size: 3.5rem;
            }

            h4 {
                color: #393e41;
            }

            h5 {
                text-align: end;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    body {

        .container {
        grid-template-columns: 1% auto 1%;
        }
        .header-page {
            font-size: 2rem;
        }

        .footer-page {
            font-size: 1rem;
            .footer-icons {
                .fa-envelope {
                    font-size: 1rem;
                }
                .fa-instagram {
                    font-size: 1rem;
                }
            }
        }

        .content-wrapper {
            max-width: 100vw;
            .navbody {
                font-size: 1.5rem;
            }
            .single-content {
                padding-bottom: 5%;
                p {
                    font-size: 1rem;
                }

                h1 {
                    font-size: 1.8rem;
                }

                h4 {
                    font-size: 1rem;
                }
            }
            .work-content {


                h1 {
                    text-align: center;
                    font-size: 2rem;
                }
                h3 {
                    font-size: 1.5rem;
                }
                p {
                    font-size: 1rem;
                }
            }
        }
    }
}
