/* default designs  */
html, body {
  background-color: #cac4ce;
  color: #e94f37;
  margin: 0;
  padding: 0;
  /** Website-wide Font Family **/
  font-family: "Cardo", serif;
}

html nav p i, body nav p i {
  color: #393e41;
}

html nav p a, body nav p a {
  text-decoration: none;
}

html nav p a :hover, body nav p a :hover {
  color: #8d86c9;
}

/* mobile css */
@media only screen and (max-width: 600px) {
  /* body, header and footer aka the essentials */
  body {
    display: -ms-grid;
    display: grid;
    font-size: 1.6em;
    height: 100vh;
    width: 100%;
    margin: 0%;
    padding: 0%;
    -ms-grid-columns: 5% auto 5%;
        grid-template-columns: 5% auto 5%;
    -ms-grid-rows: 0% auto auto auto auto auto;
        grid-template-rows: 0% auto auto auto auto auto;
        grid-template-areas: " . header . " " . pageone . " " . pagetwo . " " . pagethree . " " . pagefour . " " . footer . ";
  }
  header {
    font-size: 2rem;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: header;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    position: sticky;
    position: -webkit-sticky;
    /* Safari */
    top: 3%;
  }
  header a {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
        grid-template-areas: "square circle triangle";
    -ms-grid-column-align: center;
        justify-self: center;
  }
  header a .gg-shape-square {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: square;
    -ms-grid-column-align: end;
        justify-self: end;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    display: block;
    -webkit-transform: scale(var(--ggs, 1));
            transform: scale(var(--ggs, 1));
    width: 16px;
    height: 16px;
    border: 3px solid;
  }
  header a .gg-shape-circle {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: circle;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    display: block;
    -webkit-transform: scale(var(--ggs, 1));
            transform: scale(var(--ggs, 1));
    width: 16px;
    height: 16px;
    border: 3px solid;
    border-radius: 100px;
  }
  header a .gg-shape-triangle {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: triangle;
    -ms-grid-column-align: start;
        justify-self: start;
    position: relative;
    -webkit-transform: scale(var(--ggs, 1));
            transform: scale(var(--ggs, 1));
    width: 22px;
    height: 17px;
    border-left: 3px solid transparent;
    border-bottom: 3px solid;
  }
  header a .gg-shape-triangle,
  header a .gg-shape-triangle::before {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-right: 3px solid transparent;
  }
  header a .gg-shape-triangle::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-left: 3px solid;
    border-top: 3px solid;
    border-bottom: 3px solid transparent;
    -webkit-transform: rotate(45deg) skew(10deg, 10deg);
            transform: rotate(45deg) skew(10deg, 10deg);
    left: -2px;
    bottom: -13px;
  }
  footer {
    font-size: 1rem;
    -ms-grid-row: 6;
    -ms-grid-column: 2;
    grid-area: footer;
    bottom: 5%;
    position: -webkit-sticky;
    position: sticky;
    display: -ms-grid;
    display: grid;
    -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: " . footer-content . " " . footer-icons . ";
    /* favicons for social media */
  }
  footer .footer-content {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: footer-content;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  footer .footer-icons {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: footer-icons;
    -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    display: -ms-grid;
    display: grid;
    margin-top: 5%;
    -ms-grid-columns: 75%;
        grid-template-columns: 75%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "igicon email";
  }
  footer .footer-icons .gg-mail,
  footer .footer-icons .gg-mail::after {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 20px;
    border: 2px solid;
  }
  footer .footer-icons .gg-mail {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: email;
    overflow: hidden;
    -webkit-transform: scale(var(--ggs, 1));
            transform: scale(var(--ggs, 1));
    position: relative;
    width: 20px;
    border-radius: 2px;
  }
  footer .footer-icons .gg-mail::after {
    content: "";
    position: absolute;
    border-radius: 3px;
    width: 20px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 3px;
    left: 0;
  }
  footer .footer-icons .gg-instagram {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: igicon;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    display: block;
    -webkit-transform: scale(var(--ggs, 1));
            transform: scale(var(--ggs, 1));
    border: 2px solid transparent;
    -webkit-box-shadow: 0 0 0 2px;
            box-shadow: 0 0 0 2px;
    border-radius: 2;
    width: 20px;
    height: 20px;
  }
  footer .footer-icons .gg-instagram::after,
  footer .footer-icons .gg-instagram::before {
    content: "";
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
  }
  footer .footer-icons .gg-instagram::after {
    border: 2px solid;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    top: 3px;
  }
  footer .footer-icons .gg-instagram::before {
    border-radius: 3px;
    width: 2px;
    height: 2px;
    background: currentColor;
    right: 1px;
    top: 1px;
  }
  /* content related matters */
  .page-one {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: pageone;
    display: -ms-grid;
    display: grid;
    height: 100vh;
    -ms-grid-columns: 5% auto 5%;
        grid-template-columns: 5% auto 5%;
    -ms-grid-rows: 5% auto 0% auto auto 0%;
        grid-template-rows: 5% auto 0% auto auto 0%;
        grid-template-areas: " . . . " " sb1 textone . " " . mb1 ." " . texttwo sb2 " " . . .";
    /* nesting for child elements */
  }
  .page-one .text-one {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: textone;
    display: -ms-grid;
    display: grid;
    text-align: right;
  }
  .page-one .text-one p {
    margin: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .page-one .text-two {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: texttwo;
    text-align: left;
    display: -ms-grid;
    display: grid;
  }
  .page-one .text-two p {
    margin: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .page-one .sideborder1 {
    border-left: 0.1rem solid black;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: sb1;
    height: 50%;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  .page-one .sideborder2 {
    border-left: 0.1rem solid black;
    -ms-grid-row: 4;
    -ms-grid-column: 3;
    grid-area: sb2;
    height: 50%;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .page-one .midborder1 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: mb1;
    width: 100%;
    border-bottom: 0.1rem solid black;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .page-two {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: pagetwo;
    display: -ms-grid;
    display: grid;
    height: 100vh;
    -ms-grid-columns: 5% auto 5%;
        grid-template-columns: 5% auto 5%;
    -ms-grid-rows: 1% auto 0% auto 0%;
        grid-template-rows: 1% auto 0% auto 0%;
        grid-template-areas: " . mb2 . " " sb3 textthree . " " . mb3 . " " . textfour sb4 ";
    /* nesting for child elements */
  }
  .page-two .text-three {
    display: -ms-grid;
    display: grid;
    text-align: right;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: textthree;
  }
  .page-two .text-three p {
    margin: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .page-two .text-four {
    display: -ms-grid;
    display: grid;
    text-align: left;
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: textfour;
  }
  .page-two .text-four p {
    margin: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .page-two .midborder2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: mb2;
    width: 20%;
    border-top: 0.1rem solid black;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .page-two .sideborder3 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: sb3;
    border-left: 0.1rem solid black;
    height: 50%;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  .page-two .midborder3 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: mb3;
    width: 100%;
    border-top: 0.1rem solid black;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .page-two .sideborder4 {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
    grid-area: sb4;
    border-left: 0.1rem solid black;
    height: 25vh;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .page-two .midborder4 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: mb4;
    width: 100%;
    border-top: 0.1rem solid black;
        justify-self: center;
  }
  .page-three {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: pagethree;
    height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5% auto 5%;
        grid-template-columns: 5% auto 5%;
    -ms-grid-rows: 1% auto 0% auto 0%;
        grid-template-rows: 1% auto 0% auto 0%;
        grid-template-areas: " . mb4 . " " sb5 textfive . " " . mb5 . " " . textsix sb6 ";
    /* nesting for child elements */
  }
  .page-three .text-five {
    display: -ms-grid;
    display: grid;
    text-align: right;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: textfive;
  }
  .page-three .text-five p {
    margin: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .page-three .text-six {
    display: -ms-grid;
    display: grid;
    text-align: left;
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: textsix;
  }
  .page-three .text-six p {
    margin: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .page-three .midborder4 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: mb4;
    width: 20%;
    border-top: 0.1rem solid black;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .page-three .sideborder5 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: sb5;
    border-left: 0.1rem solid black;
    height: 50%;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  .page-three .midborder5 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: mb5;
    width: 100%;
    border-top: 0.1rem solid black;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .page-three .sideborder6 {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
    grid-area: sb6;
    border-left: 0.1rem solid black;
    height: 25vh;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .page-four {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    grid-area: pagefour;
    display: -ms-grid;
    display: grid;
    height: 100vh;
    -ms-grid-columns: 5% auto auto;
        grid-template-columns: 5% auto auto;
    -ms-grid-rows: 10% auto;
        grid-template-rows: 10% auto;
        grid-template-areas: " . mb6 . " " . textseven . " " . . .";
  }
  .page-four .text-seven {
    text-align: center;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: textseven;
    display: -ms-grid;
    display: grid;
  }
  .page-four .text-seven p {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0;
  }
  .page-four .midborder6 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: mb6;
    width: 20%;
    border-top: 0.1rem solid black;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}
/*# sourceMappingURL=main.css.map */