<footer class="footer-page">

  <div class="footer-content">
    &copy; 2020 <a href="/index.html">Mark Lim</a>
  </div>
  <div class="footer-icons">
    <a href="https://www.instagram.com/">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="mailto:marklimjr@gmail.com">
      <i class="far fa-envelope"></i> </a>
  </div>

  <!-- Owl Carousel -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="/dm8001/owl/owl.carousel.min.js"></script>
  <script src="/dm8001/owl/main.js"></script>



</footer>