<head>
  <meta charset="utf-8">
  <!-- Website Title -->
  <title>
    {{ block "title" . }}
    {{ .Title}}
    {{ end }}
  </title>

  <!-- SEO Stuff-->
  <meta name="description"
    content="Mark Lim (b.1995) is an interactive designer that works with kinetic sculptures and sound. He is intrigued over the human cognition and behaviour to sound and moving objects. 
    He is inspired by playgrounds, toys and marble run machines. His current research is in the act of play and behaviour manipulation through interaction design.  
    Pursuing his curiosity in analog electronics, He insists on demystifying the use of technology in artworks and makes a point to be transparent about the technical aspects of the things he makes. Building his knowledge in both mechanical structures as well as digital interfaces, he is working to be a versatile technical assistant to artists who are incorporating technology in their works." />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">


  <!-- CSS/Styling References-->
  {{ $styleSass := resources.Get "css/main.scss" }}
  {{ $style := $styleSass | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">


  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- FontAwesome -->
  <script src="https://kit.fontawesome.com/53e532ce0b.js" crossorigin="anonymous"></script>

  <!-- Owl Carousel References -->
  <link rel="stylesheet" href="/dm8001/owl/owl.carousel.min.css">
  <link rel="stylesheet" href="/dm8001/owl/owl.theme.default.min.css">
  


</head>