{{define "main"}}
<nav class="navbody">
    <div class="text-one">
        <p>
            <a href="cv">Mark Lim</a> (b.1995) is an <br><a href="education">interactive designer</a></br>
            that works with <br><a href="220277">kinetic sculptures</br>and<br>sound</br></a>
        </p>
    </div>
    <div class="midborder1"></div>
    <div class="text-two">
        <p>
            He is intrigued over the <a href="thethingupstairs"><br>human cognition</br>human
                behavior to sound</br>
                and <br>objects.</br></a>
        </p>
    </div>
    <div class="midborder2"></div>
    <div class="text-three">
        <p>
            He is inspired by <a href="digitalfabrications"><br>playgrounds, <br>toys and <br>marble run
                machines.</a>
        </p>
    </div>
    <div class="midborder3"></div>
    <div class="text-four">
        <p>
            His current research<br>is in the act of <a href="ltgtr"><br>play and <br>behaviour manipulation
                <br>through <br>interaction design.</a>
        </p>
    </div>
    <div class="midborder4"></div>
    <div class="text-five">
        <p>
            Pursuing his curiosity in <br>analog electronics,<br>He insists on <a href="thecurioussky"><br>demystifying
                <br>the use of technology <br>in artworks</a>
        </p>
    </div>
    <div class="midborder5"></div>
    <div class="text-six">
        <p>
            Making a point to be <a href="whetherweather"><br>transparent about the <br>technical aspects <br>of the
                things <br>he
                makes.</a>
        </p>
    </div>
    <div class="midborder6"></div>
    <div class="text-seven">
        <p>
            Building his knowledge in both <br>mechanical structures<br>as well as <br>digital
            interfaces,<br>he is working to be a <br><a href="thecurioussky">versatile technical
                assistant <br>to artists who are incorporating technology in
                their works.</a>
        </p>
    </div>
</nav>
</div>
{{end}}